<div class='topheader'>
    <%= link_to 'トップページへ', root_path %>
  </div>
<div class="contents_row">
  <h2>Login</h2>
  <div class='flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="field">
      <%= f.email_field :email, id:'f_text', autofocus: true, placeholder:'メールアドレス' %>
    </div>

    <div class="field">
      <%= f.password_field :password, id:'f_text', autocomplete: "off", placeholder:'パスワード' %>
    </div>

    <div class="actions_btn">
      <%= f.submit "Log in", id:'log_btn' %>
    </div>
  <% end %>
</div>