<header class='top-header' >
  <div page-header>
    <div class='header-title'>  
      <h1 class='page-title'>FOOD RECORD</h1>
      <P id='p1'>
      朝・昼・夜の食事メニューを入力し自分の食生活を見直してみよう！
      マイページから基礎代謝・必要な栄養素を確認！！
      </p>
    </div>
  </div>
  <div class='nav'>
    <ul class='header-lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: 'user-nickname' %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout' %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: 'login' %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: 'sign-up' %></li>
      <% end %>
    </ul>
  </ul>
</header>

<body>
  <%= form_with model: @plan, url: plans_path, class: 'form' do |f| %>
    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :メニューを入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' , placeholder:'例 目玉焼き' %>
    <%= f.label :時間帯を入力, class: 'lavel' %>
    <%= f.collection_select(:meal_id, Meal.all, :id, :name, {}, {class:'meal-select', id:'meal'}) %>
    <%= f.submit '保存' %>
  <% end %>

  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
        </div>
        <ul class='contents'>
          <ul class='meal_content'>
            <% day[:meals].each do |meal| %>
              <li class='meal-list'>・<%= meal %> </li>
            <% end %>
          </ul>
          <ul class='plan_content'>
            <% day[:plans].each do |plan| %>
              <li class='plan-list'><%= plan %> </li>
            <% end %>
          </ul>
        </ul>
      </div>
    <% end %>
  </div>
</body>

<footer>
  <div class='wrapper'>
    <P><small>&copy; 2021 96th team D</small></p>
  </div>
</footer>

